div .container-mensage {
  background-color: rgb(0, 0, 0, 0.5);
  width: 30vw;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#true {
  border: 1px solid blue;
}

#false {
  border: 1px solid red;
}
p {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  color: white;
}
button:hover {
  border: 0.1px solid white;
}

#login {
  background-color: red;
}
#logout {
  background-color: blue;
}
